.h1style { 
  text-align: center; 
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
  font-size: 3rem;
  font-weight: bold; color: white; 
  border-radius: 2rem;
  background: rgb(15, 82, 152);
  padding: 2rem;
  margin: 0 auto;
  max-width: fit-content;
}

.container_list {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}	
.image_list {
  float: left;
	margin: 1rem;
}
.text_list {
  display: inline;
	text-align: justify;
	padding-top: 1rem;
}

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*time-line*/
* {
  box-sizing: border-box;
}

.time-body {
  background-color: white;
  font-family: Helvetica, sans-serif;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.time-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.time-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  margin-left: 3.5px;
  background-color: white;
  border: 0.3rem solid #FF9F55;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid black;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent black;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
}

.right::after {
  left: -16px;
}

.time-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
}

@media screen and (max-width: 600px) {
  .timeline::after {
  left: 31px;
  }
  
  .time-container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  .time-container::before {
  left: 60px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color:transparent black transparent transparent;
  }

  .left::after, .right::after {
  left: 15px;
  }
  
  .right {
  left: 0%;
  }
}

@media only screen and (max-width: 1000px) {
  .image_list {
    float: none;
    max-width: 100%;
  	margin: 1rem 0;
  }
}
